stanbol.enhancer.engine.name="nerDefault"
eu.fusepool.enhancer.engines.ners.description="Extracts person, location and organization entities from the text."
eu.fusepool.enhancer.engines.ners.types=["PERSON;http://dbpedia.org/ontology/Person","LOCATION;http://dbpedia.org/ontology/Place","ORGANIZATION;http://dbpedia.org/ontology/Organisation"]
eu.fusepool.enhancer.engines.ners.model="english.all.3class.distsim.crf.ser.gz"