stanbol.enhancer.engine.name="nerElements"
eu.fusepool.enhancer.engines.ners.description="Extracts entities related to chemical elements from the text."
eu.fusepool.enhancer.engines.ners.types=["ELEMENT;http://dbpedia.org/ontology/ChemicalElement"]
eu.fusepool.enhancer.engines.ners.model="element.crf.ser.gz"