stanbol.enhancer.engine.name="nerMobile"
eu.fusepool.enhancer.engines.ners.description="Extracts entities related to mobile communication technology from the text."
eu.fusepool.enhancer.engines.ners.types=["LTE;http://lteworld.org/tutorial/lte-dictionary-acronyms"]
eu.fusepool.enhancer.engines.ners.model="lte.crf.ser.gz"